[Unit]
Before=local-fs.target searchbroker-ui.service

[Mount]
What=/dev/disk/by-label/SECRETS
Where=/mnt/secrets
Type=ext4

[Install]
WantedBy=local-fs.target
