[Unit]
Description=MDR UI
After=docker.service,haveged.service,init-network.service
Requires=docker.service,init-network.service

[Service]
Restart=always
EnvironmentFile=/mnt/secrets/mdr
ExecStartPre=-/usr/bin/docker kill mdr-ui
ExecStartPre=-/usr/bin/docker rm mdr-ui
ExecStartPre=/usr/bin/docker pull martinbreu/mdr-ui:${version}
ExecStart=/usr/bin/docker run \
  --name=mdr-ui \
  --network=gba \
  -e TOMCAT_USERNAME='admin' \
  -e TOMCAT_PASSWORD='$${TOMCAT_PASS}' \
  -e POSTGRES_HOST='postgres.openstacklocal' \
  -e POSTGRES_DB='mdr_db' \
  -e POSTGRES_USER='mdr' \
  -e POSTGRES_PASS='$${POSTGRES_PASS}' \
  -e AUTH_HOST='${auth_host}' \
  -e AUTH_PUBLIC_KEY='$${AUTH_PUBLIC_KEY}' \
  -e AUTH_CLIENT_ID='$${AUTH_CLIENT_ID}' \
  -e AUTH_CLIENT_SECRET='$${AUTH_CLIENT_SECRET}' \
  -e CATALINA_OPTS='"-Xmx2g"' \
  martinbreu/mdr-ui:${version}
ExecStop=/usr/bin/docker stop mdr-ui

[Install]
WantedBy=multi-user.target
