[Unit]
Description=MDR UI
After=docker.service,haveged.service
Requires=docker.service

[Service]
EnvironmentFile=/mnt/secrets/mdr
ExecStartPre=-/usr/bin/docker kill mdr-ui
ExecStartPre=-/usr/bin/docker rm mdr-ui
ExecStartPre=-/usr/bin/docker network create searchbroker
ExecStartPre=/usr/bin/docker pull martinbreu/mdr-ui:${version}
ExecStart=/usr/bin/docker run \
  --name=mdr-ui \
  --network=searchbroker \
  -e TOMCAT_USERNAME='admin' \
  -e TOMCAT_PASSWORD='$${TOMCAT_PASS}' \
  -e POSTGRES_HOST='postgres.openstacklocal' \
  -e POSTGRES_DB='mdr' \
  -e POSTGRES_PORT='5432' \
  -e POSTGRES_USER='mdr' \
  -e POSTGRES_PASS='$${POSTGRES_PASS}' \
  -e AUTH_HOST='${auth_host}' \
  -e AUTH_PUBLIC_KEY='${auth_public_key}' \
  -e AUTH_CLIENT_ID='${auth_client_id}' \
  -e AUTH_CLIENT_SECRET='$${AUTH_CLIENT_SECRET}' \
  -e CATALINA_OPTS='"-Xmx2g"' \
  martinbreu/mdr-ui:${version}
ExecStop=/usr/bin/docker stop mdr-ui

[Install]
WantedBy=multi-user.target
