server {
    listen 80;
    server_name ${domain};
    include /etc/nginx/conf.d/acme-challenge.global;

    location / {
        proxy_pass http://mdr-ui:8080/;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
    }

    location /v3 {
        proxy_pass http://mdr:8080/v3;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
    }
}

server {
    listen 443 ssl http2;
    server_name ${domain};

    ssl_certificate     /etc/nginx/ssl/live/${domain}/fullchain.pem;
    ssl_certificate_key /etc/nginx/ssl/live/${domain}/privkey.pem;

    location / {
        proxy_pass http://mdr-ui:8080/;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_set_header X-Forwarded-Proto https;
    }

    location /v3 {
        proxy_pass http://mdr:8080/v3;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_set_header X-Forwarded-Proto https;
    }
}
