server {
    listen 80;
    server_name ${domain};
    include /etc/nginx/conf.d/acme-challenge.global;

    location / {
        %{ if workspace == "default" }
        rewrite ^ https://samplelocator.bbmri.de$request_uri? permanent;
        %{ else }
        rewrite ^ https://${domain}$request_uri? permanent;
        %{ endif }
    }

    location /broker {
        proxy_pass http://searchbroker:8080/broker;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
    }
}

server {
    listen 443 ssl http2;
    server_name ${domain};

    ssl_certificate     /etc/nginx/ssl/live/${domain}/fullchain.pem;
    ssl_certificate_key /etc/nginx/ssl/live/${domain}/privkey.pem;

    location / {
        %{ if workspace == "default" }
        rewrite ^ https://samplelocator.bbmri.de$request_uri? permanent;
        %{ else }
        proxy_pass http://searchbroker-ui:8080/;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_set_header X-Forwarded-Proto https;
        %{ endif }
    }

    location /broker {
        proxy_pass http://searchbroker:8080/broker;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_set_header X-Forwarded-Proto https;
    }
}

%{ if workspace == "default" }
server {
    listen 80;
    server_name samplelocator.bbmri.de;
    include /etc/nginx/conf.d/acme-challenge.global;

    location / {
        rewrite ^ https://$server_name$request_uri? permanent;
    }
}

server {
    listen 443 ssl http2;
    server_name samplelocator.bbmri.de;

    ssl_certificate     /etc/nginx/ssl/live/samplelocator.bbmri.de/fullchain.pem;
    ssl_certificate_key /etc/nginx/ssl/live/samplelocator.bbmri.de/privkey.pem;

    location / {
        proxy_pass http://searchbroker-ui:8080/;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_set_header X-Forwarded-Proto https;
    }

    location /broker {
        proxy_pass http://searchbroker:8080/broker;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_set_header X-Forwarded-Proto https;
    }
}
%{ endif }
