server {
    listen 80;
    server_name search.germanbiobanknode.de;

    location / {
        proxy_pass http://searchbroker-ui:8080/;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
    }

    location /broker {
        proxy_pass http://searchbroker:8080/;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
    }
}

server {
    listen 443 ssl http2;
    server_name search.germanbiobanknode.de;

    ssl_certificate /etc/nginx/ssl/searchbroker-fullchain;
    ssl_certificate_key /etc/nginx/ssl/searchbroker-privkey;

    location / {
        proxy_pass http://searchbroker-ui:8080/;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_set_header X-Forwarded-Proto https;
    }

    location /broker {
        proxy_pass http://searchbroker:8080/;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_set_header X-Forwarded-Proto https;
    }
}
