[Unit]
Description=Searchbroker UI
After=docker.service,haveged.service,init-network.service
Requires=docker.service,init-network.service

[Service]
Restart=always
EnvironmentFile=/mnt/secrets/searchbroker-ui
ExecStartPre=-/usr/bin/docker kill searchbroker-ui
ExecStartPre=-/usr/bin/docker rm searchbroker-ui
ExecStartPre=/usr/bin/docker pull samply/sample-locator:${version}
ExecStart=/usr/bin/docker run \
  --name=searchbroker-ui \
  --network=gba \
  -e SEARCHBROKER_URL='${locator_url}/broker' \
  -e SAMPLELOCATOR_URL='${locator_url}' \
  -e NEGOTIATOR_URL='${negotiator_url}' \
  -e AUTH_CLIENT_ID='$${AUTH_CLIENT_ID}' \
  -e AUTH_HOST='${auth_host}' \
  -e MDR_API_URL='${mdr_api_url}' \
  -e MDR_NAMESPACE='${mdr_namespace}' \
  -e MDR_LANGUAGE='${mdr_language}' \
  -e MDR_MAPPING='${mdr_mapping}' \
  -e MDR_FIELD_PROPERTIES='${mdr_properties}' \
  -e MDR_HIDDEN='${mdr_hidden}' \
  -e MOLGENIS_USERNAME='bbmri-directory' \
  -e MOLGENIS_PASSWORD='$${MOLGENIS_PASSWORD}' \
  -e FEATURE_STRATIFIER=${feature_stratifier} \
  -e FEATURE_STRATIFIER_MIN_NO_BIOBANKS=${stratifier_min_no_biobanks} \
  -e TERMINOLOGY_SERVER_URL='/icd10' \
  -e BRANDING_UI='GBA' \
  -e BRANDING_TITLE='GBA Locator' \
  -e FAVICON_URL='favicon.ico' \
  -e META_DESCRIPTION='The Sample Locator enables scientists to search for biosamples and related data across multiple academic biobanks.' \
  -e ABOUT_US_URL='/about-us' \
  -e CONTACT_URL='/imprint' \
  -e CONTACT_TEXT='Imprint' \
  -e PRIVACY_URL='/privacy' \
  samply/sample-locator:${version}
ExecStop=/usr/bin/docker stop searchbroker-ui

[Install]
WantedBy=multi-user.target
