[Unit]
Description=Searchbroker
After=docker.service,haveged.service,init-network.service
Requires=docker.service,init-network.service

[Service]
Restart=always
EnvironmentFile=/mnt/secrets/searchbroker
ExecStartPre=-/usr/bin/docker kill searchbroker
ExecStartPre=-/usr/bin/docker rm searchbroker
ExecStartPre=/usr/bin/docker pull samply/searchbroker:${version}
ExecStart=/usr/bin/docker run \
  --name=searchbroker \
  --network=gba \
  -e STATISTICS_MAILS='$${STATISTICS_MAILS}' \
  -e POSTGRES_HOST='postgres.openstacklocal' \
  -e POSTGRES_DB='searchbroker' \
  -e POSTGRES_PORT='5432' \
  -e POSTGRES_USER='searchbroker' \
  -e POSTGRES_PASS='$${POSTGRES_PASS}' \
  -e MAIL_HOST='${mail_host}' \
  -e MAIL_FROM_ADDRESS='${mail_from_address}' \
  -e MAIL_FROM_NAME='${mail_from_name}' \
  -e AUTH_HOST='${auth_host}' \
  -e AUTH_PUBLIC_KEY='$${AUTH_PUBLIC_KEY}' \
  -e AUTH_CLIENT_ID='$${AUTH_CLIENT_ID}' \
  -e CATALINA_OPTS='"-Xmx2g"' \
  samply/searchbroker:${version}
ExecStop=/usr/bin/docker stop searchbroker

[Install]
WantedBy=multi-user.target
